@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --accent: #f97316; /* orange */
}

/* small helper styles */
.body-bg{ background-color:#f7fafc }
.card{ @apply bg-white rounded-2xl p-6 shadow-sm }